/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
    color: var(--wht-text);
}

/* VARIABLES */

:root {

  /* COLOURS */

  --primary: #FF7A00;
  --secondary: #FFA84D;
  --accent: #FFDF5D;
  --bck-text: #1A1A1A;
  --wht-text: #F5F5F5;
  --gradient1: #333333;
  --gradient2: #1A1A1A;

  --bg-gradinet1: linear-gradient(0deg,rgba(51, 51, 51, 1) 0%, rgba(26, 26, 26, 1) 100%);
  --bg-gradient2: linear-gradient(0deg, rgba(26, 26, 26, 1) 100%, rgba(51, 51, 51, 1) 0%);

  /* FONTS - FONT WEIGHTS - FONT SIZES*/

  --ff: 'Human Sans', sans-serif;
  --fw-thin: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-h1: clamp(2rem, 4vw + 1rem, 4rem);
  --fs-h2: clamp(1.5rem, 3vw + 0.75rem, 2.25rem);
  --fs-h3: clamp(1.25rem, 2.5vw + 0.5rem, 1.5rem);
  --fs-p: clamp(1rem, 2vw + 0.5rem, 1.5rem);
  --fs-a: clamp(0.875rem, 1.5vw + 0.25rem, 1rem);
  --fs-small: clamp(0.75rem, 1vw + 0.2rem, 0.875rem);
}

/* GLOBAL STYLES */

html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1{
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
}

h2{
  font-weight: var(--fw-semibold);
  font-size: var(--fs-h2);
}

h3{
  font-weight: var(--fw-medium);
  font-size: var(--fs-h3);
}

p{
  font-weight: var(--fw-regular);
  font-size: var(--fs-p);
  margin-bottom: 1rem
}

/* LAYOUT  */

.wrapper1{
  background: radial-gradient(
      50% 50% at 75% 50%,
      rgba(51, 51, 51, 1) 0%,
      rgba(26, 26, 26, 1) 100%
    );
}

.hero, .work, .services{
  padding: clamp(2rem, 8vw, 9rem) clamp(1rem, 5vw, 8rem);
}

.divider-wrapper1{
  background: var(--bg-gradinet1)
}
.divider-wrapper2{
  background: var(--bg-gradinet2)
}

.divider-top, .divider-middle, .divider-bottom{
  height: 4rem;
  background-position: center;
  background-image: url("img/divider-top.svg");
  background-repeat: repeat-x;
  animation: wave-slide 30s linear infinite;
}

@keyframes wave-slide {
  from { background-position-x: 0; }
  to { background-position-x: -100vw; }
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
}
  
.navbar .logo {
  color: var(--wht-text); 
  font-family: var(--ff);
  font-weight: var(--fw-bold);
  font-size: var(--fs-p); 
}

.navbar button{
  background: transparent;
  border: none;
}

.nav-links a {
  position: relative;
  margin-right: 1.5rem;
  text-decoration: none;
  color: var(--wht-text);
  font-family: var(--ff);
  font-weight: var(--fw-light);
  font-size: var(--fs-p);
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.13rem;
  width: 100%;
  height: 0.13rem;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links a:hover::after {
  transform: scaleX(1);
}

.nav-links a:hover {
  color: var(--accent);
}

/* HERO SECTION */  

.hero {
  min-height: 80dvh;
  display: flex;
  align-items: center;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  gap: clamp(0.5rem, 4vw, 2rem);
}

.buttons a{
  text-decoration: none;
}

.btn {
  display: flex;
  position: relative;
  padding:clamp(0.5rem, 2vw, 0.75rem) 
          clamp(1rem, 4vw, 1.5rem);
  width: clamp(8rem, 25vw, 10.5rem);
  height: clamp(2.75rem, 8vw, 3.5rem);
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 2vw, 1rem);
  border-radius: 1.625rem;
  box-shadow: 0 0.25rem 0.25rem #00000040;
  font-size: var(--fs-p);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.15);
}

.btn-primary {
  background: var(--primary);
  color: var(--bck-text);
  font-weight: var(--fw-bold);
}

.btn-primary:hover {
  background-color: var(--accent)
}

.btn-secondary {
  border: 0.25rem solid;
  border-color: var(--secondary);
  background: transparent;
  color: var(--wht-text);
  font-weight: var(--fw-medium);
}

.btn-secondary:hover {
  border-color: var(--accent);
  color: var(--accent);
}

.contact-popover {
  margin: auto;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  border-color: var(--primary);
  background: var(--bg-gradinet1);
  box-shadow: 0 0 2rem var(--primary);
  z-index: 1;
}

.contact-popover:popover-open {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;

  @starting-style {
    opacity: 0;
    transform: translateY(2rem);
  }
}

::backdrop {
  backdrop-filter: blur(0.25rem);
  background-color: rgba(0,0,0,0.5);
}

.popover-content {
  display: flex;
  position: relative;
  gap: 4rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.contact-role {
  color: var(--primary);
}

.contact-email-btn {
  margin-top: auto;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}

.contact-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--primary);
  transition: fill 0.2s ease;
}
.icon:hover {
  fill: var(--accent);
}

#snackbar {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

#snackbar.show {
  opacity: 1;
  visibility: visible;
}

/* WORK SECTION */  

.work-content {
  display: grid;
  padding-top: 1.375rem;
  margin-bottom: 8rem;
  gap: 8.125rem;
  grid-template-columns: repeat(auto-fit, minmax(min(18.75rem,100%), 1fr));
}

.work-content h2{
  padding-bottom: 1.5rem;
}

.work-text h3{
  padding-bottom: 0.5rem;
}

.work-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}

.work-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.work-image:hover {
  transform: translateY(-0.25rem);
  background-color: rgba(255,255,255,0.15);
}

.work-image:hover .company-logo{
  filter: none;
  opacity: 1;
  fill: var(--primary);
}

.work-image:hover .csw {
    fill: rgb(192, 23, 34);  
}

.work-image::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.05);
  color: var(--wth-text);
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid var(--primary);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.25rem #00000040;
  white-space: nowrap;
  font-size: 0.875rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.work-image:hover::after {
  opacity: 1;
}

.company-logo {
  width: auto;
  height: 16.375rem;
  display: block;
  filter: grayscale(100%) opacity(0.7);
  fill: #999;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

/* SERVICE SECTION */  

.services-grid {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(min(37.5rem, 100%), 1fr));
}

.service-card {
  border: 0.25rem solid var(--primary);
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.25rem #00000040;
  padding: 1rem 0rem;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease, border 0.3s ease;
}

.service-card:hover {
  transform: translateY(-0.25rem);
}

.card-header{
  display: flex;
  align-items: center;
}

.card-header .card-icon{
  margin-left: 2.5rem;
  padding: 0.75rem;
  border-radius: 4rem;
  background: var(--primary);
}

.card-header .card-decor {
  flex: 1;
  height: 4rem;
  width: 100%;
}

.card-body{
  padding: 1.125rem 2.5rem;
}

.card-body h2{
  padding-bottom: 0.5rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: clamp(2rem, 8vw, 2rem)
           clamp(1rem, 5vw, 8rem);
  background: var(--bg-gradient2);
}

.footer-cta p {
  margin-bottom: 1rem;
}

.footer-cta .highlight {
  color: var(--primary);
  font-weight: var(--fw-bold);
}

.footer-links button{
  background: transparent;
  border: none;
  cursor: pointer;
}

.footer-links a{
  display: block;
  padding: 0.75rem 0;
  font-size: var(--fs-a);
  color: var(--wht-text);
  text-decoration: none;
  font-weight: var(--fw-light);
}

.footer-links a:hover {
  color: var(--accent);
}

.footer-links small {
  display: block;
  margin-top: 1rem;
  font-size: var(--fs-small);
  font-weight: var(--fw-thin);
  color: var(--wht-text);
  opacity: 0.25;
}
